// app global css in Sass form
@import 'quasar.variables.sass'

@font-face
  font-family: 'Comfortaa'
  src: url(~assets/fonts/Comfortaa[wght].woff2) format("woff2-variations")

@font-face
  font-family: 'Ubuntu Mono'
  src: url(~assets/fonts/UbuntuSansMono[wght].woff2) format("woff2-variations")
  font-style: normal

@font-face
  font-family: 'Ubuntu Mono'
  src: url(~assets/fonts/UbuntuSansMono-Italic[wght].woff2) format("woff2-variations")
  font-style: italic

@font-face
  font-family: 'Ubuntu Sans'
  src: url(~assets/fonts/UbuntuSans[wdth,wght].woff2) format("woff2-variations")
  font-style: normal

@font-face
  font-family: 'Ubuntu Sans'
  src: url(~assets/fonts/UbuntuSans-Italic[wdth,wght].woff2) format("woff2-variations")
  font-style: italic

.font-mono
  font-family: 'Ubuntu Mono'

.font-def
  font-family: 'Ubuntu Sans'
  font-weight: 200

.fs-xs
  font-size:  0.7rem
.fs-sm
  font-size:  0.8rem
.fs-md
  font-size:  0.9rem
.fs-lg
  font-size:  1.1rem
.fs-xl
  font-size:  1.3rem

.titre, .titre-xs, .titre-sm, .titre-md, .titre-lg, .titre-xl
  font-family: "Comfortaa"
.titre-xs
  font-size:  0.7rem
.titre-sm
  font-size:  0.8rem
.titre-md
  font-size:  0.9rem
.titre-lg
  font-size:  1.1rem
.titre-xl
  font-size:  1.3rem

.sombre, .sombre0
  background-color: $sombre  !important
  color: white !important

.clair, .clair0
  background-color: $clair !important
  color: black !important

.sombre1
  background-color: $sombre1 !important
  color: white !important

.clair1
  background-color: $clair1 !important
  color: black !important

.bordclair
  border: 1px solid #CFD8DC

.bordfonce
  border: 1px solid #37474F

.bordgris
  border: 1px solid $gris

.height-2
  height: 2rem

.height-3
  height: 3rem

.height-4
  height: 4rem

.height-5
  height: 5rem

.height-8
  height: 8rem

.zone
  border-left: 4px solid transparent
.zone:hover
  border-left: 4px solid var(--q-primary)
.courant
  border-left: 4px solid var(--q-warning) !important

$tphradius: 16px
$tph: 32px

.photomax
  border-radius: $tphradius !important
  width: $tph
  height: $tph

.msg
  font-size: 0.9rem
.msg, .msg2
  font-style: italic
  font-weight: bold
  padding: 1px
.text-msg, .msg, .msg2
  color: var(--q-msgtc) !important
.bg-msg, .msg, .msg2
  background: var(--q-msgbg) !important

.tbp
  background: var(--q-primary) !important
  color: var(--q-tbptc) !important

.tbs
  background: var(--q-secondary) !important
  color: var(--q-tbstc) !important

.tbw
  background: var(--q-warning) !important
  color: white !important

.text-btwtc
  color: var(--q-btwtc) !important
.bg-btwtc
  background: var(--q-btwtc) !important
.text-btwbg
  color: var(--q-btwbg) !important
.bg-btwbg
  background: var(--q-btwbg) !important
.text-btntc
  color: var(--q-btntc) !important
.bg-btntc
  background: var(--q-btntc) !important
.text-btnbg
  color: var(--q-btnbg) !important
.bg-btnbg
  background: var(--q-btnbg) !important

.mdtitre
  color: var(--q-mdtitre) !important

.bsc
  box-shadow: 5px -5px 5px 0px rgba(0,0,0,0.75) !important

.bsf
  box-shadow: 5px -5px 5px 0px rgba(89,89,89,0.75) !important

.pwsm
  width: 30rem
  max-width: 95vw

.pwmd
  width: 40rem
  max-width: 95vw

.pwlg
  width: 50rem
  max-width: 95vw

.pwxl
  width: 90rem
  max-width: 95vw

.maauto
  margin-left: auto !important
  margin-right: auto !important

.splg /* sous-page centrée de 50rem max */
  margin-left: auto !important
  margin-right: auto !important
  width: 100%
  max-width: 50rem

.spmd /* sous-page centrée de 40rem max */
  margin-left: auto !important
  margin-right: auto !important
  width: 100%
  max-width: 40rem

.spsm /* sous-page centrée de 30rem max */
  margin-left: auto !important
  margin-right: auto !important
  width: 100%
  max-width: 30rem

/* surcharges de quasar */
.q-toolbar
  padding: 0 !important
  min-height: 0 !important

.expansion-header-class-1
  padding: 2px !important
  min-height: 1.6rem !important

.q-tree__arrow 
  font-size: 22px !important
  margin-right: -4px !important

.q-tree__node-header 
  align-items: center !important

.q-item__section--avatar
  min-width: 0 !important

/* Barre de scroll */
/* Works on Firefox */
*
  scrollbar-width: thin
  scrollbar-color: blue orange

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar
  width: 6px

*::-webkit-scrollbar-track
  background: orange

*::-webkit-scrollbar-thumb
  background-color: blue
  border-radius: 20px
  border: 1px solid orange
