// app global css in Sass form
@import 'quasar.variables.sass'

/* latin-ext */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 300
  src: url(~assets/fonts/cf5.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 300
  src: url(~assets/fonts/cf6.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215

/* latin-ext */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 400
  src: url(~assets/fonts/cf11.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 400
  src: url(~assets/fonts/cf12.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215

@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 700
  src: url(~assets/fonts/cf17.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Comfortaa'
  font-style: normal
  font-weight: 700
  src: url(~assets/fonts/cf18.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 300
  src: url(~assets/fonts/rm1.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 400
  src: url(~assets/fonts/rm2.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 500
  src: url(~assets/fonts/rm3.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 700
  src: url(~assets/fonts/rm4.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: italic
  font-weight: 300
  src: url(~assets/fonts/rm5.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: italic
  font-weight: 400
  src: url(~assets/fonts/rm6.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: italic
  font-weight: 500
  src: url(~assets/fonts/rm7.woff) format('woff')

@font-face
  font-family: 'Roboto Mono'
  font-style: italic
  font-weight: 700
  src: url(~assets/fonts/rm8.woff) format('woff')

@font-face
  font-family: Calibri-Light
  src: url(~assets/fonts/Calibri-Light.woff)

.font-mono
  font-family: 'Roboto Mono'

.font-calibri-l
  font-family: Calibri-Light

.fs-xs
  font-size:  0.7rem
.fs-sm
  font-size:  0.8rem
.fs-md
  font-size:  0.9rem
.fs-lg
  font-size:  1.1rem
.fs-xl
  font-size:  1.3rem

.titre
  font-family: Comfortaa
.titre-xs
  font-family: Comfortaa
  font-size:  0.7rem
.titre-sm
  font-family: Comfortaa
  font-size:  0.8rem
.titre-md
  font-family: Comfortaa
  font-size:  0.9rem
.titre-lg
  font-family: Comfortaa
  font-size:  1.1rem
.titre-xl
  font-family: Comfortaa
  font-size:  1.3rem

.sp50 /* sous-page centrée de 50rem max */
  margin-left: auto !important
  margin-right: auto !important
  width: 100%
  max-width: 50rem

.sp40 /* sous-page centrée de 40rem max */
  margin-left: auto !important
  margin-right: auto !important
  width: 100%
  max-width: 40rem

.sp30 /* sous-page centrée de 30rem max */
  margin-left: auto !important
  margin-right: auto !important
  width: 100%
  max-width: 30rem

.maauto
  margin-left: auto !important
  margin-right: auto !important

.sombre, .sombre0
  background-color: $dark  !important
  color: white !important

.clair, .clair0
  background-color: $clair !important
  color: black !important

.sombre1
  background-color: #3C3C3C !important
  color: white !important

.clair1
  background-color: #E1E1E1 !important
  color: black !important

.bordclair
  border: 1px solid #CFD8DC

.bordfonce
  border: 1px solid #37474F

.height-2
  height: 2rem

.height-3
  height: 3rem

.height-4
  height: 4rem

.height-8
  height: 8rem

.zone
  border-left: 4px solid transparent
.zone:hover
  border-left: 4px solid $primary
.courant
  border-left: 4px solid $warning !important

$tphradius: 16px
$tph: 32px

.photomax
  border-radius: $tphradius !important
  width: $tph
  height: $tph

.bsc
  box-shadow: 5px -5px 5px 0px rgba(0,0,0,0.75) !important

.bsf
  box-shadow: 5px -5px 5px 0px rgba(89,89,89,0.75) !important

.pwsm
  width: 30rem
  max-width: 95vw

.pwmd
  width: 40rem
  max-width: 95vw

.pwlg
  width: 50rem
  max-width: 95vw

.splg /* sous-page centrée de 50rem max */
  margin-left: auto !important
  margin-right: auto !important
  width: 100%
  max-width: 50rem

.spmd /* sous-page centrée de 40rem max */
  margin-left: auto !important
  margin-right: auto !important
  width: 100%
  max-width: 40rem

.spsm /* sous-page centrée de 30rem max */
  margin-left: auto !important
  margin-right: auto !important
  width: 100%
  max-width: 30rem

/* surcharges de quasar */
.q-toolbar
  padding: 0 !important
  min-height: 0 !important

.expansion-header-class-1
  padding: 2px !important
  min-height: 1.6rem !important

$body-font-size   : 0.9rem !default
$body-line-height : 1.1rem !default

/* Barre de scroll */
/* Works on Firefox */
*
  scrollbar-width: thin
  scrollbar-color: blue orange

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar
  width: 6px

*::-webkit-scrollbar-track
  background: orange

*::-webkit-scrollbar-thumb
  background-color: blue
  border-radius: 20px
  border: 1px solid orange
